<div>
  <a><button>Home</button></a>
  <a href="/foods"> <button>Food</button> </a>
  <a href="/categories"> <button>Categories</button> </a>
  <a href="/foods/add"> <button>Add Food</button> </a>
  <a><button>Add Category</button></a>
</div>